# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# Data
*.mat
*.csv
*.avi
*.mp4

# IDE
.vscode/
*.code-workspace
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
*.ipynb
.ipynb_checkpoints/
